<form action="/files/upload/upload" method="post" enctype="multipart/form-data">
	<input type="text" name="title" id="" placeholder="название">
	<input type="file" name="file" id="">
	<button class="btn">Загрузить</button>
</form>