[app]
secret=secret

[web]
host=example.com

[database]
driver=sqlite3
setting=../users.sqlite
kvpath="../kv.db"

[mail]
sender=mail@example.com
password=pass123
server=smtp.example.com
port=465

[admin]
login=kirill@zhuharev.ru
password=ACER