<div class="padding-10">
<h1>{{.page.Title}}</h1>

{{if $.IsAdmin}}
<!-- <form action="/news/{{.Id}}/delete" method="post">
	<button>Удалить</button>
</form> -->
<a href="/news/{{.page.Id}}/edit">Изменить</a>
{{end}}

{{raw (markdown .page.Body)}}

{{ with .bucket }}
<table class="table-bordered" width="100%">
{{range .Files}}
<tr align="center">
  <td>
   <img src="/imgSourse/iconW.jpg" alt="" width="30"></td>
  <td>{{ .Title }}</td>
  <td><a href="/files/{{ .Id }}/{{ .OriginalFileName }}">Скачать</a></td>
 </tr>
{{end}}
</table>
{{ end }}

{{if .page.Image}}
<p>
<a href="{{imgUrl .page.Image}}" class="fancybox" rel="fancybox">
	<img width="100%" data-original="{{imgUrl .page.Image}}" class="lazy" alt="">
</a>
{{range .page.Images}}
<a href="{{imgUrl . }}" class="fancybox" rel="fancybox">
	<img height="100px" data-original="{{imgUrl . "true"}}" class="lazy" alt="">
</a>
{{end}}
{{end}}
</div>
