<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--[if lte IE 8]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.7/ie8.polyfils.min.js"></script>
<![endif]-->
</head>
<body>
<h1>Поиск в электронной библиотеке "Белорусские смоляне"</h1>

<a href="http://biblioteka.smolgu.ru/bel/search">Вернуться на сайт библиотеки</a>

<form action="" method="get">
	<div class="form-group">
		<label for="">Автор</label>
		<input class="form-control " type="text" name="author" value="{{ .searchForm.Author }}">
	</div>
<!-- 	<div class="form-group">
	<label for="">Заглавие</label>
	<input class="form-control" type="text" name="title">
</div> -->
	<div class="form-group">
		<label for="">Ключевые слова</label>
		<input class="form-control" type="text" name="keywords">
	</div>
	<div class="form-group">
		<label for="">Город публикации</label>
		<select name="place" id="" class="form-control">
			<option value="" selected>Любой город</option>
			<option>Смоленск</option>
			<option>Минск</option>
		</select>
	</div>
	<button style="margin-top: 10px" class="btn">Искать</button>
	<!-- <a href="/sf" class="fl_r small" style="margin-bottom:30px">Расширенный поиск в электронном каталоге</a> -->
</form>

{{ if .presentUrl }}
<iframe src="/bel/proxy/{{.ruslanId}}" frameborder="0" width="100%"></iframe>
{{end}}	


<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.7/iframeResizer.contentWindow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.7/iframeResizer.min.js"></script>
<script>
	iFrameResize({log:true})
</script>
</body>
</html>

