<form method="post" action="/menus/itemedit?id={{ .Id }}">
	<input type="text" name="title" placeholder="title" value="{{ .Title }}">
	<input type="text" name="link" placeholder="link" value="{{ .Link }}">
	<input type="hidden" name="id" value="{{ .MenuId }}">
	<input type="text" name="parent" value="{{ .ParentId }}">
	<button>Create</button>
</form>