<form action="/books/upload" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="">Заголовок</label>
		<input type="text" name="title" id="" class="form-control">
	</div>
	<div class="form-group">
		<label for="">Файл ПДФ</label>
		<input type="file" name="file" id="">
	</div>
	<div style="display:none;" id="imgList"></div>
	<div class="form-control">
		<button>Опубликовать</button>
	</div>
</form>